body {
    margin: 0;
    padding: 0;
    font-size:  13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 205px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 17px;
}

main {
    margin-top: 104px;
    text-align: center;
}
main .main-logo {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 23px;
}
main .main-logo img {
    width: 272px;
    height: 92px;
}

main .main-input {
    width: 584px;
    margin: 0 auto;
    margin-bottom: 29px;
}
main .main-input-container {
    width: 584px;
    border-radius: 100px;
    border: 1px solid #e0e1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 487px;
    height: 42px;
    border: none;
    outline: none;
    margin: 0 10px 0 10px;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;   
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 10px;
    cursor: pointer;
}
main .main-buttons button:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border-color: black;
    color: #222;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}